.sprite-walk_000000 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -0px -0px;
 }
 .sprite-walk_000001 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -608px -0px;
 }
 .sprite-walk_000002 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -1216px -0px;
 }
 .sprite-walk_000003 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -1824px -0px;
 }
 .sprite-walk_000004 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -2432px -0px;
 }
 .sprite-walk_000005 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -3040px -0px;
 }
 .sprite-walk_000006 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -3648px -0px;
 }
 .sprite-walk_000007 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -4256px -0px;
 }
 .sprite-walk_000008 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -0px -1080px;
 }
 .sprite-walk_000009 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -608px -1080px;
 }
 .sprite-walk_000010 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -1216px -1080px;
 }
 .sprite-walk_000011 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -1824px -1080px;
 }
 .sprite-walk_000012 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -2432px -1080px;
 }
 .sprite-walk_000013 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -3040px -1080px;
 }
 .sprite-walk_000014 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -3648px -1080px;
 }
 .sprite-walk_000015 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -4256px -1080px;
 }
 .sprite-walk_000016 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -0px -2160px;
 }
 .sprite-walk_000017 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -608px -2160px;
 }
 .sprite-walk_000018 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -1216px -2160px;
 }
 .sprite-walk_000019 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -1824px -2160px;
 }
 .sprite-walk_000020 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -2432px -2160px;
 }
 .sprite-walk_000021 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -3040px -2160px;
 }
 .sprite-walk_000022 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -3648px -2160px;
 }
 .sprite-walk_000023 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -4256px -2160px;
 }
 .sprite-walk_000024 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -0px -3240px;
 }
 .sprite-walk_000025 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -608px -3240px;
 }
 .sprite-walk_000026 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -1216px -3240px;
 }
 .sprite-walk_000027 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -1824px -3240px;
 }
 .sprite-walk_000028 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -2432px -3240px;
 }
 .sprite-walk_000029 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -3040px -3240px;
 }
 .sprite-walk_000030 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -3648px -3240px;
 }
 .sprite-walk_000031 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -4256px -3240px;
 }
 .sprite-walk_000032 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -0px -4320px;
 }
 .sprite-walk_000033 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -608px -4320px;
 }
 .sprite-walk_000034 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -1216px -4320px;
 }
 .sprite-walk_000035 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -1824px -4320px;
 }
 .sprite-walk_000036 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -2432px -4320px;
 }
 .sprite-walk_000037 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -3040px -4320px;
 }
 .sprite-walk_000038 {
     background: url(sprite_sheet.png);
     display: inline-block;
     height: 1080px;
     width: 608px;
     background-position: -3648px -4320px;
 }
 